*.iml
.gradle/
local.properties
gradle-temp/
gradle-dl.zip
/.idea/
.DS_Store
/build/
/captures
.externalNativeBuild/
.cxx/
local.properties
/app/build/
*.apk
*.ap_
*.aab
*.jks
*.keystore
/app/release/
/app/debug/
*.hprof
*.log
